.product-card-dark {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 255, 204, 0.05);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
}

.product-card-dark:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 255, 204, 0.15);
}

.card-link {
  text-decoration: none;
  color: inherit;
}


.product-card-dark img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  object-fit: cover;
}

.product-card-dark h3 {
  font-size: 1rem;
  margin: 10px 0 5px;
  color: #00ffcc;
}

.product-card-dark .brand {
  font-size: 0.85rem;
  color: #aaa;
  margin-bottom: 5px;
}

.product-card-dark .rating {
  font-size: 0.9rem;
  color: #eee;
}

.product-card-dark .rating span {
  color: #ccc;
}

.price-stock {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.in-stock {
  color: #0f0;
}

.out-of-stock {
  color: #f00;
}

.product-card-dark {
  background: #111;
  width: 300px;
  height: 450px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 255, 204, 0.05);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.product-card-dark img {
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
